@charset "ISO-8859-1";
body {
    font-family: Arial, sans-serif;
}
.dataTable {
    width: 100%; 
    border-collapse: collapse;
    background-color: #f2f2f2; 
}

.dataTable th, .dataTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.dataTable th {
    background-color: #4CAF50; 
    color: white;
}
.cc {
	text-align: center;
}